@import "/static/normalize.min.css";
@import "/static/open-props.min.css";
@import "/static/buttons.min.css";

:root {
    font-family: var(--font-mono);
}

header {
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.index-atf {
    min-height: var(--size-15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--gradient-2);
    color: var(--gray-2);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.index-atf h1 {
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-6);
}

.index-atf p {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}
